<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghtn.lihe.pda" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HazardMainActivity"
            android:label="@string/title_activity_hazard_main" >
        </activity>
        <activity
            android:name=".HazardCheckActivity"
            android:label="@string/title_activity_hazard_check" >
        </activity>
        <activity
            android:name=".HazardInfoCheckActivity"
            android:label="@string/title_activity_hazard_info_check" >
        </activity>
        <activity
            android:name=".HazardControlActivity"
            android:label="@string/title_activity_hazard_control" >
        </activity>
        <activity
            android:name=".SwMainActivity"
            android:label="@string/title_activity_sw_main" >
        </activity>
        <activity
            android:name=".SwDetailInfoActivity"
            android:label="@string/title_activity_sw_detail_info" >
        </activity>
        <activity
            android:name=".SwInputInfoActivity"
            android:label="@string/title_activity_sw_input_info" >
        </activity>
        <activity
            android:name=".YhMainActivity"
            android:label="@string/title_activity_yh_main" >
        </activity>
        <activity
            android:name=".YhCategoryActivity"
            android:label="@string/title_activity_yh_category" >
        </activity>
        <activity
            android:name=".YhInputInfoActivity"
            android:label="@string/title_activity_yh_input_info" >
        </activity>
        <activity
            android:name=".YhCheckActivity"
            android:label="@string/title_activity_yh_check" >
        </activity>
        <activity
            android:name=".QualityCheckActivity"
            android:label="@string/title_activity_quality_check" >
        </activity>
        <activity
            android:name=".QualityMainActivity"
            android:label="@string/title_activity_quality_main" >
        </activity>
        <activity
            android:name=".QualityScoreActivity"
            android:label="@string/title_activity_quality_score" >
        </activity>
        <activity
            android:name=".QualityActionActivity"
            android:label="@string/title_activity_quality_action" >
        </activity>
    </application>

</manifest>
