<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghtn.lihe.pda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".DatabaseInitActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HazardPlaceActivity"
            android:label="@string/title_activity_hazard_place" />
        <activity
            android:name=".SwMainActivity"
            android:label="@string/title_activity_sw_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SwDetailInfoActivity"
            android:label="@string/title_activity_sw_detail_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SwInputInfoActivity"
            android:label="@string/title_activity_sw_input_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YhCategoryActivity"
            android:label="@string/title_activity_yh_category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HazardMainActivity"
            android:label="@string/title_activity_hazard_main" />
        <activity
            android:name=".YhPlaceActivity"
            android:label="@string/title_activity_yh_place" />
        <activity
            android:name=".YhMainActivity"
            android:label="@string/title_activity_yh_main" />
        <activity
            android:name=".QualityPlaceActivity"
            android:label="@string/title_activity_quality_place" />
        <activity
            android:name=".QualityCategoryActivity"
            android:label="@string/title_activity_quality_category" />
        <activity
            android:name=".QualityMainActivity"
            android:label="@string/title_activity_quality_main" />

    </application>

</manifest>
